{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/createEvent.css') }}">
    {% endblock %}

{% block title %}Create-Event{% endblock %}

{% block body %}
    <h1 class="m-2">Creer un event</h1>
    {{ form_start(eventForm) }}
    <div class="form-container d-flex ">
        <div class="form-details d-flex flex-column m-1">
            <div class="form-row">
                {{ form_label(eventForm.name) }}
                {{ form_widget(eventForm.name) }}
            </div>
            {{ form_errors(eventForm.name) }}
            <div class="form-row">
                {{ form_label(eventForm.beginDate) }}
                {{ form_widget(eventForm.beginDate) }}
            </div>
            {{ form_errors(eventForm.beginDate) }}
            <div class="form-row">
                {{ form_label(eventForm.limitDate) }}
                {{ form_widget(eventForm.limitDate) }}
            </div>
            {{ form_errors(eventForm.limitDate) }}
            <div class="form-row">
                {{ form_label(eventForm.nbMaxInscription) }}
                {{ form_widget(eventForm.nbMaxInscription) }}
            </div>
            {{ form_errors(eventForm.nbMaxInscription) }}
            <div class="form-row">
                {{ form_label(eventForm.duration) }}
                {{ form_widget(eventForm.duration) }}
            </div>
            {{ form_errors(eventForm.duration) }}
            <div class="form-row">
                {{ form_label(eventForm.infoEvent) }}
                {{ form_widget(eventForm.infoEvent) }}
            </div>
            {{ form_errors(eventForm.infoEvent) }}
        </div>
        <div class="form-location d-flex flex-column m-1">
            <div class="form-row">
                {{ form_label(eventForm.campus) }}
                {{ form_widget(eventForm.campus) }}
            </div>
            {{ form_errors(eventForm.campus) }}
                                {# recuperer le cmapus avec le user#}
            <div class="form-row">
                {{ form_label(cityForm.name) }}
                {{ form_widget(cityForm.name) }}
            </div>
            {{ form_errors(cityForm.name) }}
            <div class="form-row">
                {{ form_label(placeForm.name) }}
                {{ form_widget(placeForm.name) }}
            </div>
            {{ form_errors(placeForm.name) }}
            <div class="form-row">
                {{ form_label(placeForm.street) }}
                {{ form_widget(placeForm.street) }}
            </div>
            {{ form_errors(placeForm.street) }}
            <div class="form-row">
                {{ form_label(cityForm.postCode) }}
                {{ form_widget(cityForm.postCode) }}
            </div>
            {{ form_errors(cityForm.postCode) }}
            <div class="form-row">
                {{ form_label(placeForm.latitude) }}
                {{ form_widget(placeForm.latitude) }}
            </div>
            {{ form_errors(placeForm.latitude) }}
            <div class="form-row">
                {{ form_label(placeForm.longitude) }}
                {{ form_widget(placeForm.longitude) }}
            </div>
            {{ form_errors(placeForm.longitude) }}
        </div>
    </div>
    <div class="buttons d-flex justify-content-center m-2">
        <button class="btn-primary" type="submit">Enregistrer</button>
        <a href="#">
            <button class="btn-primary">Publier</button>
        </a>
        <a href="#">
            <button class="btn-primary">Annuler</button>
        </a>
    </div>
    {{ form_end(eventForm, {'render_rest': false}) }}
    </div>
{% endblock %}
