{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/createEvent.css') }}">
    {% endblock %}

{% block title %}Create-Event{% endblock %}

{% block body %}
    <h1 class="m-2">Creer un event</h1>
    {{ form_start(eventForm) }}
{#    {{ form_start(cityForm) }}#}
    <div class="form-container d-flex ">
        <div class="form-details d-flex flex-column m-1">
            <div class="form-row">
                {{ form_label(eventForm.name) }}
                {{ form_widget(eventForm.name) }}
            </div>
            {{ form_errors(eventForm.name) }}
            <div class="form-row">
                {{ form_label(eventForm.beginDate) }}
                {{ form_widget(eventForm.beginDate) }}
            </div>
            {{ form_errors(eventForm.beginDate) }}
            <div class="form-row">
                {{ form_label(eventForm.limitDate) }}
                {{ form_widget(eventForm.limitDate) }}
            </div>
            {{ form_errors(eventForm.limitDate) }}
            <div class="form-row">
                {{ form_label(eventForm.nbMaxInscription) }}
                {{ form_widget(eventForm.nbMaxInscription) }}
            </div>
            {{ form_errors(eventForm.nbMaxInscription) }}
            <div class="form-row">
                {{ form_label(eventForm.duration) }}
                {{ form_widget(eventForm.duration) }}
            </div>
            {{ form_errors(eventForm.duration) }}
            <div class="form-row">
                {{ form_label(eventForm.infoEvent) }}
                {{ form_widget(eventForm.infoEvent) }}
            </div>
            {{ form_errors(eventForm.infoEvent) }}
        </div>
        <div class="form-location d-flex flex-column m-1">
            {% if app.user %}
                <div class="form-row">
                    <label>Campus :</label>
                    <p>{{ app.user.getCampus.getname }}</p>
                </div>
                {{ form_errors(eventForm.campus) }}
            {% endif %}
            <div class="form-row">
                {{ form_label(locationForm.city) }}
                {{ form_widget(locationForm.city) }}
            </div>
            {{ form_errors(locationForm.city) }}
{#            <div class="form-row">#}
{#                <label for="city" >Ville :</label>#}
{#                <select name="city" id="city">#}
{#                    <option disabled selected value="">Choisir une ville</option>#}
{#                    {% for city in cities %}#}
{#                        <option value="{{ city.id }}">{{ city.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
            <div class="form-row">
                {{ form_label(locationForm.name) }}
                <div>
                    {{ form_widget(locationForm.name) }}
                    <a href="#">
                        <button class="btn-primary btn-add">+</button>
                    </a>
                </div>
            </div>
            {{ form_errors(locationForm.name) }}
            <div class="form-row">
                {{ form_label(locationForm.street) }}
                {{ form_widget(locationForm.street) }}
            </div>
            {{ form_errors(locationForm.street) }}
{#            <div class="form-row">#}
{#                {{ form_label(cityForm.postCode) }}#}
{#                {{ form_widget(cityForm.postCode) }}#}
{#            </div>#}
{#            {{ form_errors(cityForm.postCode) }}#}
            <div class="form-row">
                {{ form_label(locationForm.latitude) }}
                {{ form_widget(locationForm.latitude) }}
            </div>
            {{ form_errors(locationForm.latitude) }}
            <div class="form-row">
                {{ form_label(locationForm.longitude) }}
                {{ form_widget(locationForm.longitude) }}
            </div>
            {{ form_errors(locationForm.longitude) }}
        </div>
    </div>
    <div class="buttons d-flex justify-content-center m-2">
        <button class="btn-primary" type="submit" name="save">Enregistrer</button>
        <a href="#">
            <button class="btn-primary" type="submit" name="publish">Publier</button>
        </a>
        <a href="{{ path('event_showroom') }}">
            <button class="btn-primary">Annuler</button>
        </a>
    </div>
    {{ form_widget(eventForm._token) }}
    {{ form_end(eventForm, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/dynamicSelect.js') }}"></script>
{% endblock %}