{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/createEvent.css') }}">
        <link rel="stylesheet" href="{{ asset('css/editEvent.css') }}">
    {% endblock %}
{% block title %}Create-Event{% endblock %}
{% block body %}
    <h1 class="m-2">{{ event.name }}</h1>
    {{ form_start(eventForm) }}
    <div class="form-container d-flex ">
        <div class="form-details d-flex flex-column m-1">
            <div class="form-row">
                {{ form_label(eventForm.name) }}
                {{ form_widget(eventForm.name) }}
            </div>
            {{ form_errors(eventForm.name) }}
            <div class="form-row">
                {{ form_label(eventForm.beginDate) }}
                {{ form_widget(eventForm.beginDate) }}
            </div>
            {{ form_errors(eventForm.beginDate) }}
            <div class="form-row">
                {{ form_label(eventForm.limitDate) }}
                {{ form_widget(eventForm.limitDate) }}
            </div>
            {{ form_errors(eventForm.limitDate) }}
            <div class="form-row">
                {{ form_label(eventForm.nbMaxInscription) }}
                {{ form_widget(eventForm.nbMaxInscription) }}
            </div>
            {{ form_errors(eventForm.nbMaxInscription) }}
            <div class="form-row">
                {{ form_label(eventForm.duration) }}
                {{ form_widget(eventForm.duration, {'type': 'time', 'format' : 'H:i'}) }}
            </div>
            {{ form_errors(eventForm.duration) }}
            <div class="form-row">
                {{ form_label(eventForm.infoEvent) }}
                {{ form_widget(eventForm.infoEvent) }}
            </div>
            {{ form_errors(eventForm.infoEvent) }}
        </div>
        <div class="form-location d-flex flex-column m-1">
            {% if app.user %}
                <div class="form-row">
                    <label>Campus :</label>
                    <p>{{ app.user.getCampus.getname }}</p>
                </div>
                {{ form_errors(eventForm.campus) }}
            {% endif %}
            <div class="form-row">
                {{ form_label(locationForm.city) }}
                {{ form_widget(locationForm.city) }}
            </div>
            {{ form_errors(locationForm.city) }}
            <div class="form-row">
                {{ form_label(locationForm.name) }}
                <div>
                    {{ form_widget(locationForm.name) }}
                    <a href="#">
                        <button class="btn-primary btn-add">+</button>
                    </a>
                </div>
            </div>
            {{ form_errors(locationForm.name) }}
            <div class="form-row">
                {{ form_label(locationForm.street) }}
                {{ form_widget(locationForm.street) }}
            </div>
            {{ form_errors(locationForm.street) }}
            <div class="form-row">
                {{ form_label(locationForm.latitude) }}
                {{ form_widget(locationForm.latitude) }}
            </div>
            {{ form_errors(locationForm.latitude) }}
            <div class="form-row">
                {{ form_label(locationForm.longitude) }}
                {{ form_widget(locationForm.longitude) }}
            </div>
            {{ form_errors(locationForm.longitude) }}
        </div>
    </div>
    <div class="buttons d-flex justify-content-center m-2">
        <button class="btn-primary" type="submit" name="create">Enregistrer</button>
        <button class="btn-primary" type="submit" name="publish">Publier</button>
        <button class="btn-primary" type="submit" name="delete">Supprimer</button>
        <a class="btn-primary" href="{{ path('cancel',{id: event.id }) }}">Annuler
        </a>
    </div>
    {{ form_widget(eventForm._token) }}
    {{ form_end(eventForm, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/dynamicSelect.js') }}"></script>
{% endblock %}



