{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/eventShowroom.css') }}">
    {% endblock %}

{% block title %}Event-Showroom{% endblock %}
{% block body %}
    {% set today = "now"|date("d-m-Y") %}
    <div class="info">
        <div class="d-flex">
            <label class="mr-1 " for="user">Date :</label>
            <p>{{ today }}</p>
        </div>
        <div class="d-flex">
            <label class="mr-1 " for="user">Participant :</label>
            {% if app.user %}
                <p>{{ app.user.firstname }}</p>
            {% endif %}

        </div>
    </div>
    <h1 class="m-2">Évènements</h1>
    <form method="post" action="{{ path('event_showroom') }}">
        <div class="search-container">
            {{ form_start(form) }}
            <div class="part1">
                <div class="row">
                    {{ form_label(form.campus) }}
                    {{ form_widget(form.campus) }}
                </div>
                <div class="row">
                    {{ form_label(form.eventName) }}
                    {{ form_widget(form.eventName) }}
                </div>
                <div class="date">
                    <div class="row">
                        {{ form_label(form.beginDate) }}
                        {{ form_widget(form.beginDate) }}
                    </div>
                    <div class="row">
                        {{ form_label(form.endDate) }}
                        {{ form_widget(form.endDate) }}
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="part2">
                <div class="row">
                    {{ form_widget(form.isOrganizer) }}
                    {{ form_label(form.isOrganizer) }}
                </div>
                <div class="row">
                    {{ form_widget(form.isMember) }}
                    {{ form_label(form.isMember) }}
                </div>
                <div class="row">
                    {{ form_widget(form.isNotMember) }}
                    {{ form_label(form.isNotMember) }}
                </div>
                <div class="row">
                    {{ form_widget(form.passed) }}
                    {{ form_label(form.passed) }}
                </div>
            </div>
            <div class="separator"></div>
            <div class="part3">
                <button class="btn-primary" type="submit">RECHERCHER</button>
            </div>
            {{ form_end(form) }}
        </div>
    </form>
    <div class="form-container">
        <table>
            <thead class="event-topbar">
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Clôture inscription</th>
                <th>Inscrits/Places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if events %}
                {% for event in events %}
                    {% set isMember = false %}
                    {% for member in event.members %}
                        {% if member == app.user %}
                            {% set isMember = true %}
                        {% endif %}
                    {% endfor %}
                    {% set isOrganizer = false %}
                    {% if app.user %}
                        {% if event.organizer.id == app.user.id %}
                            {% set isOrganizer = true %}
                        {% endif %}
                    {% endif %}
                    <tr class="event-item {{ cycle(['dark', 'light'], loop.index) }}">
                        <td>{{ event.name }}</td>
                        <td>{{ event.beginDate | date("m/d/Y") }}</td>
                        <td>{{ event.limitDate | date("m/d/Y") }}</td>
                        <td>{{ event.getNbrOfMembers }}/{{ event.nbMaxInscription }}</td>
                        <td>{{ event.state.label }}</td>
                        {% if isMember %}
                            <td class="isMember">X</td>
                        {% else %}
                            <td class="isMember"></td>
                        {% endif %}
                        <td class="isOrganizer"><a
                                    href="{{ path('showProfil',{id: event.organizer.id }) }}">{{ event.organizer.firstname }} {{ event.organizer.name | slice(0, 1) | capitalize }}</a>
                        </td>
                        {% if isMember and not isOrganizer and event.limitDate | date("m/d/Y")|date('U') > today | date("m/d/Y")|date('U') %}
                            <td><a href="{{ path('show',{id: event.id }) }}">Afficher</a> / <a
                                        href="{{ path('desist',{id: event.id }) }}">Se desister</a></td>
                        {% elseif not isMember and not isOrganizer and event.state.label == 'Ouvert' and event.limitDate | date("m/d/Y")|date('U') > today | date("m/d/Y")|date('U') and  event.getNbrOfMembers < event.nbMaxInscription %}
                            <td><a href="{{ path('show',{id: event.id }) }}">Afficher</a> / <a
                                        href="{{ path('register',{id: event.id }) }}">S'inscrire</a></td>
                        {% elseif isOrganizer and event.state.label == 'En cours' %}
                            <td><a href="{{ path('edit',{id: event.id }) }}">Modifier</a> / <a
                                        href="{{ path('publish',{id: event.id }) }}">Publier</a></td>
                        {% elseif isOrganizer and event.state.label == 'En creation' %}
                            <td><a href="{{ path('edit',{id: event.id }) }}">Modifier</a></td>
                        {% elseif event.limitDate | date("m/d/Y")|date('U') <= today | date("m/d/Y")|date('U') or event.state.label == 'Ferme' %}
                            <td><a href="{{ path('show',{id: event.id }) }}">Afficher</a></td>
                        {% elseif event.state.label == 'Ouvert' and isOrganizer %}
                            <td><a href="{{ path('show',{id: event.id }) }}">Afficher</a> / <a
                                        href="{{ path('cancel',{id: event.id }) }}">Annuler</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="button m-2">
        <a href="{{ path('create_event') }}">
            <button class="btn-primary">Créer un évènement</button>
        </a>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}
