{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/eventShowroom.css') }}">
    {% endblock %}

{% block title %}Event-Showroom{% endblock %}
{% block body %}
    {% set today = "now"|date("d-m-Y") %}
    <div class="info">
        <div class="d-flex">
            <label class="mr-1 " for="user">Date :</label>
            <p>{{ today }}</p>
        </div>
        <div class="d-flex">
            <label class="mr-1 " for="user">Participant :</label>
            {% if app.user %}
                <p>{{ app.user.firstname }}</p>
            {% endif %}

        </div>
    </div>
    <h1 class="m-2">Events</h1>
    <form method="post" action="{{ path('event_showroom') }}">
        <div class="search-container">
            <div class="part1">
                {{ form_start(campusForm) }}
                <div class="row">
                    {{ form_label(campusForm.name) }}
                    {{ form_widget(campusForm.name) }}
                </div>
                {{ form_errors(campusForm.name) }}
                {{ form_end(campusForm) }}
                <div class="row">
                    <label for="searchWord">Le nom de l'event contient :</label>
                    <input type="text" id="searchWord" name="searchWord" placeholder="Search">
                </div>
                <div class="date">
                    <div class="row">
                        <label for="date1">Entre :</label>
                        <input type="date" id="date1" name="date1">
                    </div>
                    <div class="row">
                        <label for="date2">et :</label>
                        <input type="date" id="date2" name="date2">
                    </div>
                </div>
            </div>
            <div class="part2">
                <div class="row">
                    <input type="checkbox" name="isOrganizer" value="true">
                    <label for="isOrganizer">Events dont je suis l'organisateur/trice</label>
                </div>
                <div class="row">
                    <input type="checkbox" name="isRegistered" value="true">
                    <label for="isRegistered">Events auxquels je ne suis pas inscrit/e</label>
                </div>
                <div class="row">
                    <input type="checkbox" name="isOrganizer" value="true">
                    <label for="isOrganizer">Events auxquels je suis inscrit/e</label>
                </div>
                <div class="row">
                    <input type="checkbox" name="isOrganizer" value="true">
                    <label for="isOrganizer">Events passes</label>
                </div>
            </div>
            <div class="separator"></div>
            <div class="part3">
                <button class="btn-primary" type="submit"> RECHERCHER</button>
            </div>
        </div>
    </form>
    <div class="form-container">
        <div class="event-topbar">
            <span>Nom</span>
            <div class="separator-inline"></div>
            <span>Date de l'envent</span>
            <div class="separator-inline"></div>
            <span>Cloture inscription</span>
            <div class="separator-inline"></div>
            <span>inscrits/places</span>
            <div class="separator-inline"></div>
            <span>Etat</span>
            <div class="separator-inline"></div>
            <span>Inscrit</span>
            <div class="separator-inline"></div>
            <span>Organisateur</span>
            <div class="separator-inline"></div>
            <span>Action</span>
        </div>
        {% if events %}
            {% set isMember = false %}
            {% for event in events %}
                {% for member in event.members %}
                    {% if member == app.user %}
                        {% set isMember = true %}
                    {% endif %}
                {% endfor %}
                {% set isOrganizer = false %}
                {% if app.user %}
                    {% if event.organizer.id == app.user.id %}
                        {% set isOrganizer = true %}
                    {% endif %}
                {% endif %}
                <div class="event-item">
                    <span>{{ event.name }}</span>
                    <div class="separator-inline"></div>
                    <span>{{ event.beginDate | date("m/d/Y") }}</span>
                    <div class="separator-inline"></div>
                    <span>{{ event.limitDate | date("m/d/Y") }}</span>
                    <div class="separator-inline"></div>
                    <span>{{ event.getNbrOfMembers }}/{{ event.nbMaxInscription }}</span>
                    <div class="separator-inline"></div>
                    <span>{{ event.state.label }}</span>
                    <div class="separator-inline"></div>
                    {% if isMember %}
                        <span>X</span>
                    {% else %}
                        <span> </span>
                    {% endif %}
                    <div class="separator-inline"></div>
                    <span>{{ event.organizer.firstname }} {{ event.organizer.name | slice(0, 1) | capitalize }}</span>
                    <div class="separator-inline"></div>
                    {% if isMember %}
                        <span><a href="#">Afficher</a> - <a href="">Se desister</a></span>
                    {% elseif isMember != true %}
                        <span><a href="#">Afficher</a> </span>
                    {% elseif isOrganizer %}
                        <span><a href="#">Modifier</a> <button>Publier</button></span>
                    {% elseif event.limitDate < today %}
                        <span><a href="#">Afficher</a></span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="button m-2">
        <a href="{{ path('create_event') }}">
            <button class="btn-primary">Creer un Event</button>
        </a>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}
