{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block title %}Log in{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    {% if app.flashes('success') or app.session.flashbag.has('error') %}
        <div class="msgFlash">
            {% if app.flashes('error') %}
                <div class="flash_error">
                    {% for flashError in app.session.flashbag.get('error') %}
                        {{ flashError }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.flashes('success') %}
                <div class="flash_success">
                    {% for flashSuccess in app.session.flashbag.get('success') %}
                        {{ flashSuccess }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <form method="post">
        <h1>Please sign in</h1>
        <div class="form-container">
            <div class="form-row">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="form-row">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>
            <div class="d-flex flex-column align-items-center m-1">
                <small>
                    <a class="reset-mdps" href="{{ path('reset_password') }}">Mot de passe oublie ?</a>
                </small>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
