{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block title %}Reset password{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    {% if app.flashes('success') or app.session.flashbag.has('error') %}
        <div class="msgFlash">
            {% if app.flashes('error') %}
                <div class="flash_error">
                    {% for flashError in app.session.flashbag.get('error') %}
                        {{ flashError }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.flashes('success') %}
                <div class="flash_success">
                    {% for flashSuccess in app.session.flashbag.get('success') %}
                        {{ flashSuccess }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <h1>New password</h1>
    {{ form_start(form) }}
    <div class="form-container">
        <div class="form-row">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        {{ form_errors(form.password) }}
        <div class="form-row">
            {{ form_label(form.confirmPassword) }}
            {{ form_widget(form.confirmPassword) }}
        </div>
        {{ form_errors(form.confirmPassword) }}
        <button class="btn-primary" type="submit">
            Reinitialiser mon mot de passe
        </button>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
{% endblock %}