{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block title %}Reset password{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    {% if app.flashes('success') or app.session.flashbag.has('error') %}
        <div class="msgFlash">
            {% if app.flashes('error') %}
                <div class="flash_error">
                    {% for flashError in app.session.flashbag.get('error') %}
                        {{ flashError }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.flashes('success') %}
                <div class="flash_success">
                    {% for flashSuccess in app.session.flashbag.get('success') %}
                        {{ flashSuccess }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <form method="post">
        <h1>Reset password</h1>
        <div class="form-container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                {{ form_errors(form.email) }}
            </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Reinitialiser mon mot de passe
            </button>
            {{ form_widget(form._token) }}
            {{ form_end(form) }}
        </div>
    </form>
{% endblock %}
